@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">This is Your Todo List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr>

        </tr>
    </table>
</div>
